<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>카카오 지도 - 마커 클릭 시 단일 정보창</title>
  <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=bef1fdbfb5b4d0c4519859a35fd0e1c4&autoload=false"></script>
</head>
<body>
  <h2>지도와 주차장 정보</h2>
  <div id="map" style="width:100%; height:600px;"></div>

  <table border="1" style="margin-top:20px;" id="infoTable">
    <tr><th>이름</th><td id="name">-</td></tr>
    <tr><th>주소</th><td id="addr">-</td></tr>
    <tr><th>종류</th><td id="type">-</td></tr>
    <tr><th>요금</th><td id="price">-</td></tr>
    <tr><th>발렛</th><td id="valet">-</td></tr>
  </table>

  <script>
	kakao.maps.load(function () {
	  const mapContainer = document.getElementById('map');
	  const mapOption = {
	    center: new kakao.maps.LatLng(37.5665, 126.9780),
	    level: 5
	  };
	
	  const map = new kakao.maps.Map(mapContainer, mapOption);
	  const infowindow = new kakao.maps.InfoWindow({ zIndex: 1 });
	
	  // ✅ 서버에서 주차장 목록 가져오기
	  fetch('/map/list')
	    .then(response => response.json())
	    .then(data => {
	      data.forEach(parking => {
	        const position = new kakao.maps.LatLng(parking.latitude, parking.longitude);
	        const marker = new kakao.maps.Marker({
	          map: map,
	          position: position,
	          title: parking.name
	        });
	
	        kakao.maps.event.addListener(marker, 'click', function () {
	          const content = `<div style="padding:5px;"><b>${parking.name}</b><br>${parking.addr}</div>`;
	          infowindow.setContent(content);
	          infowindow.open(map, marker);
	        });
	      });
	    })
	    .catch(err => console.error(err));
	});
	</script>
</body>
</html>
