<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pm.mapper.BookingMapper">
	<!-- mybatis설정 -->

	<insert id="insertBooking" parameterType="com.pm.booking.model.BookingDTO">
        INSERT INTO booking (bookingdate, bookingcarnum, intime, outtime, valet, instand, price, status, obstacle, idx, id)
        VALUES (#{bookingdate}, #{bookingcarnum}, #{intime}, #{outtime}, #{valet}, #{instand}, #{price}, #{status}, #{obstacle}, #{idx}, #{id})
    </insert>
	<select id="carbyid" parameterType="String" resultType="com.pm.booking.model.UserCarDTO">
		SELECT car_num, modelname from user_cars where id=#{id} 

	</select>
	<update id="updateStatus" parameterType="String">
		UPDATE booking
		JOIN (
		SELECT bookingnum
		FROM (
		SELECT bookingnum
		FROM booking
		WHERE id = #{id}
		ORDER BY bookingnum DESC
		LIMIT 1
		) AS sub
		) AS sub2
		ON booking.bookingnum
		= sub2.bookingnum
		SET
		booking.status = '파킹메이트결제완료';
	</update>
	
	
	
	
	
	
	
	<!-- 메이트이용현황관련 -->
	<select id="showMatebookingList" parameterType="String" resultType="map" >
		select
			a.*,
			b.name as parkinglot_name
		from
			booking a
		join
			parkinglot b on a.idx = b.idx
		where
			a.id = #{id}
		and a.status = '파킹메이트결제완료'
		and instand = 1
	</select>
	<select id="findParkinglotByName" parameterType="String" resultType="com.pm.map.model.ParkingLotDTO">
		select
			*
		from
			parkinglot
		where
			name = #{name}
	</select>
	<select id="findMatcingMate" resultType="map">
		select
			m1.*,
			m2.name AS mate_name,
			m2.tel AS mate_tel
		from
			mate_paycheck m1
		join
			user m2 
		on 
			m1.mid = m2.id
		where
			m1.id = #{id}
		and m1.mid is not null
		and m1.car_num = #{car_num}
		and m2.mate_use = 1
	</select>
	<update id="updateOuttime" parameterType="int">
    	update
    		booking
    	SET
    		outtime = NOW()
    	WHERE
    		bookingnum = #{bookingnum}
</update>
	
</mapper>