<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pm.mapper.BookingMapper">
	<!-- mybatis설정 -->
	<insert id="insertBooking"
		parameterType="com.pm.booking.model.BookingDTO">
		INSERT INTO booking (bookingdate, bookingcarnum, intime,
		outime, valet,
		instand, price, status, obstacle, idx, id)
		VALUES
		(#{bookingdate}, #{bookingcarnum}, #{intime}, #{outime}, #{valet},
		#{instand}, #{price}, #{status}, #{obstacle}, #{idx}, #{id})
	</insert>
	<select id="carbyid" parameterType="String"
		resultType="com.pm.booking.model.UserCarDTO">
		SELECT car_num, modelname from user_cars where id=#{id}
	</select>
	<update id="updateStatus" parameterType="String">
		UPDATE booking
		JOIN (
		SELECT bookingnum
		FROM (
		SELECT bookingnum
		FROM booking
		WHERE id = #{id}
		ORDER BY bookingnum DESC
		LIMIT 1
		) AS sub
		) AS sub2
		ON booking.bookingnum
		= sub2.bookingnum
		SET
		booking.status = '파킹메이트결제완료';
	</update>
	<select id="getActiveBookingList" resultMap="bookingResultMap">
  SELECT b.bookingnum, b.bookingdate, b.bookingcarnum, b.intime, b.outtime, b.valet,
         b.instand, b.price, b.status, b.obstacle, b.idx, b.id,
         p.idx AS parking_idx, p.name AS parking_name
  FROM booking b
  JOIN parkinglot p ON b.idx = p.idx
  WHERE b.status != '완료'
  ORDER BY b.bookingdate DESC
</select>
</mapper>