<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.pm.mapper.FaqMapper">
  	<insert id = "faqInsert" parameterType="com.pm.faq.model.FaqDTO">
  		insert into faq (id, title, content, writedate) values(#{id}, #{title}, #{content}, now())
  	</insert>
  </mapper>