<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.pm.mapper.NoticeMapper">
    	 <select id="getPmNotice" resultType="com.pm.notice.model.NoticeDTO">
  		select * from notice where division = 1 order by idx desc
  		</select>
  		<insert id="insertNotice" parameterType="com.pm.notice.model.NoticeDTO" useGeneratedKeys="true" keyProperty="idx">
		insert into notice (id, title, content, writedate, readnum, division)
		values (#{id}, #{title}, #{content}, #{writedate}, #{readnum},
		#{division})
</insert>
  </mapper>