<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pm.mapper.ParkingMateMapper">
	<select id="getParkingMate" parameterType="String"
		resultType="com.pm.pm.model.ParkingMateDTO">
		select * from parkingmate where id=#{id}
	</select>

	<insert id="insertParkingMate"
		parameterType="com.pm.pm.model.ParkingMateDTO">
		insert into parkingmate (
		license, history, picture,
		addr, bank, account, id
		) values (
		#{license}, #{history}, #{picture},
		#{addr}, #{bank}, #{account}, #{id}
		)
	</insert>
	<update id="updateParkingMate"
		parameterType="com.pm.pm.model.ParkingMateDTO">
		update parkingmate
		set license = #{license},
		history =
		#{history},
		picture = #{picture},
		addr = #{addr},
		bank = #{bank},
		account
		= #{account}
		WHERE id = #{id}
	</update>

	<select id="getMatePayCheck" parameterType="map"
		resultType="com.pm.pm.model.MatePayCheckDTO">
		select * from mate_paycheck
		where mid = #{mid}
		<if test="startDate != null and startDate != ''">
			and starttime &gt;= #{startDate}
		</if>
		<if test="endDate != null and endDate != ''">
			and endtime &lt;= #{endDate}
		</if>
		order by starttime desc 
	</select>

	<select id="totalPmWorklog" resultType="map">
		select count(*) as
		totalServiceCount,
		coalesce(sum(price), 0) as totalPayCount
		from
		mate_paycheck
		where mid = #{mid}
		and status = '정산완료'
	</select>

	<insert id="insertMatePayCheck"
		parameterType="com.pm.pm.model.MatePayCheckDTO"
		useGeneratedKeys="true" keyProperty="idx">
		INSERT INTO mate_paycheck (id,
		starttime, endtime, status, price, mid,
		car_num)
		VALUES (#{id},
		#{starttime}, #{endtime}, #{status}, #{price}, #{mid},
		#{car_num})
	</insert>

	<select id="selectMateUsageList"
		resultType="com.pm.pm.model.MatePayCheckDTO">
		SELECT
		idx,
		id,
		intime AS starttime,
		outtime AS endtime,
		status,
		price,
		bookingnum AS mid,
		bookingcarnum AS car_num
		FROM booking
		WHERE id = #{mateId}
		AND status = '예약중'
		ORDER BY intime DESC
	</select>

	<select id="getSettlementWaitingCount" parameterType="string"
		resultType="int">
		SELECT COUNT(*)
		FROM mate_paycheck m
		WHERE mid = #{mid} AND m.status = '정산대기'
	</select>
	
	<update id="updateBookingWithPmLocation">
		UPDATE booking
		SET pmlatitude = #{pmlatitude},
		pmlongitude = #{pmlongitude},
		status = '파킹메이트매칭완료'
		WHERE bookingnum = #{bookingnum}
	</update>
	<update id="updateEndtimeAndStatus" parameterType="String">
    UPDATE mate_paycheck
    SET endtime = NOW(),
        status = '정산완료'
    WHERE car_num = #{car_num}
      AND status = '정산대기'
</update>
</mapper>