<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>파킹메이트</title>
</head>
<body>
	<h1>파킹메이트 공지사항</h1>
	<form name="/pm/notice" method="post">
		<table border="1" cellspacing="0" width="550">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>조회수</th>
					<th>작성일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.isEmpty(arr)}">
					<td colspan="5" align="center">등록된 게시글이 없습니다.</td>
				</tr>
				<tr th:each="dto : ${arr}">
					<td th:text="${dto.idx}">번호</td>
					<td th:text="${dto.title}">공지 제목</td>
					<td th:text="${dto.id}">작성자</td>
					<td th:text="${dto.readnum}">조회수</td>
					<td th:text="${#dates.format(dto.writedate, 'yyyy-MM-dd')}">2025-06-20</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4" align="center">페이징</td>
					<td th:if="${userid == 'admin'}">
					<a href="/pm/pmNoticeWrite">글쓰기</a>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
	<a th:href="@{/pm/main}">파킹메이트 메인</a><br>
	<br>
</body>
</html>