<!DOCTYPE html>
<html xmlns:th = http://www.thymeleaf.org>
<head>
<meta charset="UTF-8">
<title>ParkingMate</title>
<link rel="stylesheet" href="/css/register/register2.css">
<script src="/js/involveRegister.js"></script>
<script src="/js/checkSession.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
function openPwdUpdatePopup() {
    const id = '[[${dto.id}]]';
    const popupWidth = 400;
    const popupHeight = 450;
    
 	// 가운데 위치 계산
    const left = (window.screen.width / 2) - (popupWidth / 2);
    const top = (window.screen.height / 2) - (popupHeight / 2);
    
    window.open('/pwdUpdateFormPopup?id=' + id,
    			'pwdUpdatePopup',
    			`width=${popupWidth},height=${popupHeight},left=${left},top=${top}`);
    
}
</script>
</head>
<body>
<th:block th:include = "@{/header}"></th:block>

<nav id="floatingNav">
  <ul>
    <li><a href="myCarAdd">차량등록</a></li>
    <li><a href="myCarList">차량목록</a></li>
    <li><a href="userInfo">회원정보</a></li>    
    <li><a href="myParkingHistory">이용내역</a></li>
    <li><a href="/">문의내역</a></li>
  </ul>
</nav>

<h1>회원정보</h1>
<form name="registerFormUpdate" action="/registerFormUpdate" method="post">
<fieldset>
	<table>
		<tr>
			<th>아이디:</th>
   			<td th:text="${dto.id}"></td>
		</tr>
		<tr>
		<input type="button" value="비밀번호변경" onclick="openPwdUpdatePopup()">
		</tr>
		<tr>
			<th>이름:</th>
			<td th:text="${dto.name}"></td>
		</tr>
		<tr>
			<th>전화번호:</th>
			<td><input type="text" name="tel" placeholder="-제외하고 입력하세요" th:value="${dto.tel}"></td>
		</tr>
		<tr>
			<th>이메일:</th>
			<td><input type="text" name="email" th:value="${dto.email}"></td>
		</tr>
		<tr>
			<td class="button-cell" colspan="2" align="right">
			<input type="button" value="취소" onclick="window.location.href='/userInfo';">
			<input type="submit" value="수정">
			</td>
		</tr>
	</table>
</fieldset>
</form>

<th:block th:include = "@{/footer}"></th:block>
</body>
</html>