<!DOCTYPE html>
<html xmlns:th = http://www.thymeleaf.org>
<head>
<meta charset="UTF-8">
<title>ParkingMate</title>
<link rel="stylesheet" href="/css/register/register2.css">
<script src="/js/involveRegister.js"></script>
<script src="/js/checkSession.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<th:block th:include = "@{/header}"></th:block>

<nav id="floatingNav">
  <ul>
    <li><a href="myCarAdd">차량등록</a></li>
    <li><a href="myCarList">차량목록</a></li>
    <li><a href="userInfo">회원정보</a></li>    
    <li><a href="myParkingHistory">이용내역</a></li>
    <li><a href="/">문의내역</a></li>
  </ul>
</nav>

<h1>회원정보</h1>

<fieldset>
	<table>
		<tr>
		<th></th>
		<td></td>
		</tr>
		<tr>
			<th>아이디:</th>
			<td th:text="${dto.id}"></td>
		</tr>
		<tr>
			<th>이름:</th>
			<td th:text="${dto.name}"></td>
		</tr>
		<tr>
			<th>전화번호:</th>
			<td th:text="${dto.tel}"></td>
		</tr>
		<tr>
			<th>이메일:</th>
			<td th:text="${dto.email}"></td>
		</tr>
		<tr>
			<td class="button-cell" colspan="2" align="right">
					<input type="button" value="정보수정" onclick="window.location.href='/registerUpdate';">
			</td>
		</tr>
	</table>

    <button type="button" class="back-btn" onclick="window.location.href='/mypageMain'">뒤로 돌아가기</button>
	
</fieldset>


<th:block th:include = "@{/footer}"></th:block>
</body>
</html>