<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ParkingMate</title>
<link rel="stylesheet" href="/css/mypage/mycarList.css">
<script src="/js/checkSession.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function goToCarInfo(btn) {
        const carNum = btn.getAttribute('data-carNum');
        location.href = '/myCarInfoShow?car_num=' + encodeURIComponent(carNum);
    }
</script>
</head>
<body>
<th:block th:include="@{/header}"></th:block>

<nav id="floatingNav">
  <ul>
    <li><a href="myCarAdd">차량등록</a></li>
    <li><a href="myCarList">차량목록</a></li>
    <li><a href="userInfo">회원정보</a></li>      
    <li><a href="myParkingHistory">이용내역</a></li>
    <li><a href="myAskInfo">문의내역</a></li>
  </ul>
</nav>

<div class="mycarlist-container">
  <div class="mycarlist-header">
    <h1>내 차량 목록</h1>
    <button class="register-btn"  onclick="location.href='/myCarAdd'" style="margin-bottom: 20px;">차량 등록</button>
	</div>
	
    <div th:if="${#lists.isEmpty(carList)}" class="empty-message">
        등록된 차량이 없습니다.
    </div>
	
	 <div th:each="dto : ${carList}" class="mycar-card">
        <h3><span th:text="${dto.car_num}"></span></h3>
        <div class="mycar-info">
		<div>차량 모델명: <span th:text="${dto.modelname}"></span></div>
		<div>연식: <span th:text="${dto.model_year}"></span></div>
		<div>유종: <span th:text="${dto.gas_type}"></span></div>
		<div>색상: <span th:text="${dto.color}"></span></div>
		<div>변속기: <span th:text="${dto.gear}"></span></div>
	</div>
	
	<div class="mycar-buttons">
		<form name="myCarInfoShow" action="/myCarInfoShow" method="get" style="display:inline;">		
				<input type="hidden" name="car_num" th:value="${dto.car_num}">
			    <button type="submit"  class="edit-btn">수정</button>
		</form>
		<form name="myCarDelete" action="/myCarDelete" method="get" style="display:inline;">
				<input type="hidden" name="car_num" th:value="${dto.car_num}">
			    <button type="submit" class="delete-btn">삭제</button>
		</form>
	</div>
    </div>
    <button class="back-btn" onclick="window.location.href='/mypageMain'">뒤로 돌아가기</button>
	</div>

<th:block th:include="@{/footer}"></th:block>
</body>
</html>