<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>주차장이용내역</title>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border-bottom: 1px dotted #000;
    text-align: center;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
.tab {
    background-color: #ddd;
    border: 1px solid #aaa;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
}
.tab.active {
    background-color: #bbb;
}
</style>
<script>
function moveToMyParkingMateHistory() {
    window.location.href = '/myParkingMateHistory';
}
</script>
</head>
<body>
<th:block th:include = "@{/header}"></th:block>
<div>
    <div class="tab active">주차장이용내역</div>
    <div class="tab" onclick="moveToMyParkingMateHistory()">주차대행이용내역</div>
</div>

<table>
    <thead>
        <tr>
            <th>예약번호</th>
            <th>예약일자</th>
            <th>예약차량번호</th>
            <th>이용주차장</th>
            <th>입차시간</th>
            <th>출차시간</th>
            <th>발렛유무</th>
            <th>대행유무</th>
            <th>결제금액</th>
            <th>상태구분</th>
            <th>장애인여부</th>
            <th></th>
        </tr>
    </thead>
    <tr th:if="${#lists.isEmpty(bookingList)}">
    	<td colspan="12" align="center">
    	이용한 주차장내역이 없습니다.
    	</td>
    <tbody>
        <tr th:each="history : ${bookingList}">
            <td th:text="${history.bookingnum}"></td>
            <td th:text="${history.bookingdate}"></td>
            <td th:text="${history.bookingcarnum}"></td>
            <td th:text="${history.parkinglot_name}"></td>
            <td th:text="${history.intime}"></td>
            <td th:text="${history.outtime}"></td>
            <td th:text="${history.valet == 1 ? 'O' : 'X'}"></td>
			<td th:text="${history.instand == 1 ? 'O' : 'X'}"></td>
            <td th:text="${history.price}"></td>
            <td th:text="${history.status}"></td>
            <td th:text="${history.obstacle == 1 ? 'O' : 'X'}"></td>
            <td><input type="button" value="리뷰쓰기" onclick="window.location.href='/myParkingHistoryReview';"></td>
        </tr>
    </tbody>
</table>
<th:block th:include = "@{/footer}"></th:block>
</body>
</html>
