<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ParkingMate</title>
<link rel="stylesheet" href="/css/mypage/myparkingHistory.css">
<script src="/js/involveParkingHistory_review.js"></script>
<script src="/js/checkSession.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
function moveToMyParkingMateHistory() {
    window.location.href = '/myParkingMateHistory';
}
</script>
</head>
<body>
<th:block th:include = "@{/header}"></th:block>

<nav id="floatingNav">
  <ul>
    <li><a href="myCarAdd">차량등록</a></li>
    <li><a href="myCarList">차량목록</a></li>
    <li><a href="userInfo">회원정보</a></li>      
    <li><a href="myParkingHistory">주차장내역보기</a></li>
    <li><a href="myAskInfo">문의내역</a></li>
  </ul>
</nav>

<div class="table-wrapper" style="min-height: 375px;">
<div class="filter-grid">
    <div class="filter-item" onclick="goToFilter('all')">
        <div>전체내역</div>
    </div>
    <div class="filter-item" onclick="goToFilter('valet')">
        <div>파킹메이트내역</div>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>예약번호</th>
            <th>예약일자</th>
            <th>예약차량번호</th>
            <th>이용주차장</th>
            <th>입차시간</th>
            <th>출차시간</th>
            <th>발렛유무</th>
            <th>대행유무</th>
            <th>결제금액</th>
            <th>상태구분</th>
            <th>장애인여부</th>
            <th></th>
        </tr>
    </thead>
    <tr th:if="${#lists.isEmpty(bookingList)}">
    	<td colspan="12" align="center">
    	이용한 주차장내역이 없습니다.
    	</td>
    <tbody>
        <tr th:each="history : ${bookingList}">
            <td th:text="${history['bookingnum']}"></td>
			<td th:text="${history['bookingdate']}"></td>
			<td th:text="${history['bookingcarnum']}"></td>
			<td th:text="${history['parkinglot_name']}"></td>
			<td th:text="${history['intime']}"></td>
			<td th:text="${history['outtime']}"></td>
			<td th:text="${history['valet'] == 1 ? 'O' : 'X'}"></td>
			<td th:text="${history['instand'] == 1 ? 'O' : 'X'}"></td>
			<td th:text="${history.['price'] != 0 ? #numbers.formatInteger(history.['price'], 3, 'COMMA') + '원' : '0원'}"></td>
			<td th:text="${history['status']}"></td>
			<td th:text="${history['obstacle'] == 1 ? 'O' : 'X'}"></td>
			<td>
			 <th:block th:if="${reviewList.contains(history.bookingnum)}">
			  <button class="done-review-btn"
			          th:data-bookingnum="${history.bookingnum}">
			    작성완료
			  </button>
			</th:block>
			  <th:block th:unless="${reviewList.contains(history.bookingnum)}">
			    <input type="button" value="리뷰쓰기"
			           class="review-btn"
			           th:data-bookingnum="${history.bookingnum}"
			           th:data-bookingdate="${history.bookingdate}"
			           th:data-parkinglot_name="${history.parkinglot_name}">
			  </th:block>
			</td>
        </tr>
    </tbody>
</table>

<script>
	document.addEventListener("DOMContentLoaded", function () {
	  const buttons = document.querySelectorAll(".review-btn");

	  buttons.forEach(btn => {
	    btn.addEventListener("click", () => {
	      const num = btn.dataset.bookingnum;
	      const date = encodeURIComponent(btn.dataset.bookingdate);
	      const name = encodeURIComponent(btn.dataset.parkinglot_name);

	      window.location.href = `/reviewWrite?bookingnum=${num}&bookingdate=${date}&parkinglot_name=${name}`;
	    });
	  });

	  // 작성완료 버튼 이벤트
	  const doneButtons = document.querySelectorAll(".done-review-btn");
	  doneButtons.forEach(btn => {
	    btn.addEventListener("click", () => {
	      const num = btn.dataset.bookingnum;
	      window.location.href = `/reviewContent?bookingnum=${num}`;
	    });
	  });
	});

</script>

	<div>
    	<button class="back-btn" onclick="window.location.href='/mypageMain'">뒤로 돌아가기</button>
	</div>
</div>

<div style="height: 30px;"></div>
<th:block th:include = "@{/footer}"></th:block>
</body>
</html>
