<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>공지사항</h1>
<table>
	<thead>
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>작성날짜</th>
			<th>조회수</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan = "3" align = "center">
			페이징 자리
			</td>
			<td><a href = "write">글쓰기</a></td>
		</tr>
	</tfoot>
	<tbody>
		<tr th:each = "notice : ${noticeList}">
			<td th:text = "${notice.idx}"></td>
			<td th:text = "${notice.title}"></td>
			<td th:text = "${#dates.format(notice.writedate, 'yy-MM-dd HH:mm')}"></td>
			<td th:text = "${notice.readnum}"></td>
		</tr>
		<tr th:if = "${noticeList == null}">
			<td colspan = "4" align = "center">
				공지사항을 등록해주세요.
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>