<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel = "stylesheet" href = "css/noticeList.css">
</head>
<body>
<th:block th:include = "@{/header}"></th:block>
<h1>공지사항</h1>
<table>
	<thead>
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>작성날짜</th>
			<th>조회수</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan = "3" align = "center" th:utext="${pageStr}">
			
			</td>
			<td th:if="${userid == 'admin'}"><a href = "write">글쓰기</a></td>
			<td><a href = "/">돌아가기</a></td>
		</tr>
	</tfoot>
	<tbody>
		<tr th:each = "notice : ${arr}">
			<td th:text = "${notice.idx}"></td>
			<td>
				<a th:href = "@{/content(idx=${notice.idx})}"  th:text = ${notice.title}></a>
			</td>
			<td th:text = "${#dates.format(notice.writedate, 'yy-MM-dd HH:mm')}"></td>
			<td th:text = "${notice.readnum}"></td>
			<td th:if="${userid == 'admin'}" >
			<a th:href="@{/delete(idx=${notice.idx})}" onclick="return confirm('삭제하시겠습니까?');">삭제</a>
			</td>
		</tr>
		<tr th:if = "${arr == null}">
			<td colspan = "4" align = "center">
				공지사항을 등록해주세요.
			</td>
		</tr>
	</tbody>
</table>
<th:block th:include = "@{/footer}"></th:block>
</body>
</html>