<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>리뷰</title>
</head>
<body>
<th:block th:include = "@{/header}"></th:block>
	<h1>커뮤니티</h1>
	<form th:action="@{/comReview}" method="post">
		<table border="1" cellspacing="0" width="550">
			<thead>
				<tr>
					<th>예약번호</th>
					<th>ID</th>
					<th>평점</th>
					<th>내용</th>
					<th>작성일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.isEmpty(arr)}">
					<td colspan="5" align="center">등록된 게시글이 없습니다.</td>
				</tr>
				<tr th:each="dto : ${arr}">
					<td th:text="${dto.bookingnum}">번호</td>
					<td th:text="${dto.id}">ID</td>
					<td th:text="${dto.rating}">평점</td>
					<td th:text="${dto.content}">내용</td>
					<td th:text="${#dates.format(dto.writedate, 'yyyy-MM-dd')}">2025-06-20</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5" align="center" th:utext="${pageStr}"></td>
					
				</tr>
			</tfoot>
		</table>
	</form>
	
	<a th:href="@{/community}">커뮤니티 메인</a>
<th:block th:include = "@{/footer}"></th:block>
</body>
</html>